.home-div {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 40px);
    margin: 0 auto;
}

.Home-container {
    padding: 20px;
}

.form-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.modify {
    color: white;
    background-color: rgb(34, 34, 251)
}

.delete {
    color: white;
    background-color: rgb(255, 36, 36);
}

.create {
    color: white;
    background-color: rgb(94, 168, 192);
}

